body {
      background: #ffc0c0
 }



}

ul {
  display: inline-block;
      vertical-align: top;
      width: 20%;
      margin-right: 15%;
}
h1 strong  {
       color: #9872bf ;

}
h1{
     font-size: 110px;text-align: center;"
}

h2 {
    font-size: 45px; text-align: center; background: #ffc0c0;

}
h3 {
       font-size: 25 px;
}
h4 {
       font-size: 25 px;
}
 p {
    font-size: 18px;
 }



.imagembiscoito{
    width: 15%;
}
